{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
<turbo-frame id="content">
    <section class="bg-white dark:bg-gray-900"
        {{ stimulus_controller('@pwa/presentation', {urls: [url('app_feature_receiver')]})|stimulus_controller('spotlight') }}
    >
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Presentation
            </h2>
            <p class="mb-3 font-light text-gray-500 dark:text-gray-400 sm:text-xl">
                The PWA Bundle provides a way to create presentations using the Presentation API.
                This allows you to display pages on a remote screen or projector. <br>
                Google ChromeCast, Microsoft Wireless Display Adapter are some of the devices that support this feature.
            </p>
            <button
                class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600"
                {{ stimulus_action('@pwa/presentation', 'start') }}
            >
                Start
            </button>
            <button
                class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-600"
                {{ stimulus_action('@pwa/presentation', 'terminate') }}
            >
                Stop
            </button>
            <button
                id="next"
                class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600"
                {{ stimulus_action('@pwa/presentation', 'send', 'click', {message: 'next'}) }}
                {{ stimulus_target('spotlight', 'next') }}
            >
                Next
            </button>
            <button
                id="previous"
                class="px-4 py-2 text-white bg-yellow-500 rounded hover:bg-yellow-600"
                {{ stimulus_action('@pwa/presentation', 'send', 'click', {message: 'previous'}) }}
                {{ stimulus_target('spotlight', 'previous') }}
            >
                Previous
            </button>
        </div>
    </section>
</turbo-frame>
{% endblock %}
