<div {{ stimulus_controller('@pwa/capture')|stimulus_controller('live') }} {{ attributes }} class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        {{ stimulus_target('capture', 'startButton') }}
        {{ stimulus_action('capture', 'media') }}
    >
        <twig:ux:icon name="ix:video-camera-record-filled" class="w-3.5 h-3.5 me-2" fill="currentColor" />
        Capture now!
    </button>
    <button
        hidden
        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        {{ stimulus_target('capture', 'stopButton') }}
        {{ stimulus_action('capture', 'stop') }}
    >
        <twig:ux:icon name="material-symbols:stop-circle-outline-rounded" class="w-3.5 h-3.5 me-2" fill="currentColor" />
        Stop!
    </button>
    <a
        hidden="hidden"
        class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"
        {{ stimulus_target('capture', 'downloadButton') }}
        href="#" download="capture.mp4"
    >
        <twig:ux:icon name="fa6-solid:download" class="w-3.5 h-3.5 me-2" fill="currentColor" />
        Download
    </a>
    <form class="max-w-sm mx-auto">
        <label for="audio-sources" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Select an audio source:
        </label>
        <select id="audio-sources" {{ stimulus_target('capture', 'audioSelect') }} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>

        <label for="video-sources" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Select a video source:
        </label>
        <select id="video-sources" {{ stimulus_target('capture', 'videoSelect') }} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>

        <label for="video-quality" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Select a video quality:
        </label>
        <select id="video-quality" {{ stimulus_target('capture', 'videoQualitySelect') }} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="low">Low (640x360)</option>
            <option value="medium" selected>Medium (1280x720)</option>
            <option value="high">High (1920x1080)</option>
        </select>

        <label for="frameRate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Select a frame rate:
        </label>
        <input id="frameRate" type="number" min="1" max="60" value="30" {{ stimulus_target('capture', 'frameRateInput') }} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />

        <label for="audio-quality" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Select an audio quality:
        </label>
        <select id="audio-quality" {{ stimulus_target('capture', 'audioQualitySelect') }} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="default">Default</option>
            <option value="studio">Studio (48000 Hz, stereo)</option>
        </select>
    </form>
    <video
        hidden="hidden"
        {{ stimulus_target('capture', 'destination') }}
        autoplay playsinline
    >
    </video>
</div>
